:root {
  --scale-xs: 13;
  --scale-md: 20;
  --scale-3xl: 49;
  --scale-micro: 2;
  --scale-3xs: 8;
  --scale-2xl: 39;
  --scale-lg: 25;
  --scale-xl: 31;
  --scale-hairline: 1;
  --scale-sm: 16;
  --scale-2xs: 10;
  --stroke-micro: 2;
  --stroke-hairline: 1;
  --stroke-border: 1;
  --base: 16;
  --multiplier: 1.25;
  --spacing-xs: 13;
  --spacing-md: 20;
  --spacing-3xl: 49;
  --spacing-micro: 2;
  --spacing-3xs: 8;
  --spacing-2xl: 39;
  --spacing-lg: 25;
  --spacing-xl: 31;
  --spacing-hairline: 1;
  --spacing-sm: 16;
  --spacing-2xs: 10;
  --radius-xs: 13;
  --radius-md: 20;
  --radius-3xl: 49;
  --radius-3xs: 8;
  --radius-2xl: 39;
  --radius-lg: 25;
  --radius-full: 9999px;
  --radius-xl: 31;
  --radius-sm: 16;
  --radius-2xs: 10;
  --size-xs: 13;
  --size-md: 20;
  --size-3xl: 49;
  --size-3xs: 8;
  --size-2xl: 39;
  --size-lg: 25;
  --size-xl: 31;
  --size-sm: 16;
  --size-2xs: 10;
  --saturation-colors: 80;
  --saturation-secondary: 80;
  --saturation-bright: 80;
  --saturation-default: 5;
  --saturation-primary: 80;
  --saturation-muted: 40;
  --saturation-desaturated: 5;
  --palette-blue-100: color(srgb 0.909804 0.960784 0.988235);
  --palette-blue-200: color(srgb 0.54902 0.796078 0.94902);
  --palette-blue-300: color(srgb 0.368627 0.713725 0.929412);
  --palette-blue-400: color(srgb 0.188235 0.635294 0.909804);
  --palette-blue-500: color(srgb 0.0901961 0.533333 0.811765);
  --palette-blue-600: color(srgb 0.0705882 0.415686 0.631373);
  --palette-blue-700: color(srgb 0.0392157 0.239216 0.360784);
  --palette-blue-800: color(srgb 0.0235294 0.141176 0.215686);
  --palette-blue-900: color(srgb 0.0196078 0.117647 0.180392);
  --palette-blue-950: color(srgb 0.0156863 0.0823529 0.12549);
  --palette-blue-050: color(srgb 0.964706 0.984314 0.996078);
  --palette-purple-100: color(srgb 0.941176 0.909804 0.988235);
  --palette-purple-200: color(srgb 0.698039 0.54902 0.94902);
  --palette-purple-300: color(srgb 0.576471 0.368627 0.929412);
  --palette-purple-400: color(srgb 0.454902 0.188235 0.909804);
  --palette-purple-500: color(srgb 0.352941 0.0901961 0.811765);
  --palette-purple-600: color(srgb 0.27451 0.0705882 0.631373);
  --palette-purple-700: color(srgb 0.156863 0.0392157 0.360784);
  --palette-purple-800: color(srgb 0.0941176 0.0235294 0.215686);
  --palette-purple-900: color(srgb 0.0784314 0.0196078 0.180392);
  --palette-purple-950: color(srgb 0.054902 0.0156863 0.12549);
  --palette-purple-050: color(srgb 0.976471 0.964706 0.996078);
  --palette-orange-100: color(srgb 0.988235 0.94902 0.909804);
  --palette-orange-200: color(srgb 0.94902 0.745098 0.54902);
  --palette-orange-300: color(srgb 0.929412 0.639216 0.368627);
  --palette-orange-400: color(srgb 0.909804 0.537255 0.188235);
  --palette-orange-500: color(srgb 0.811765 0.439216 0.0901961);
  --palette-orange-600: color(srgb 0.631373 0.341176 0.0705882);
  --palette-orange-700: color(srgb 0.360784 0.196078 0.0392157);
  --palette-orange-800: color(srgb 0.215686 0.117647 0.0235294);
  --palette-orange-900: color(srgb 0.180392 0.0980392 0.0196078);
  --palette-orange-950: color(srgb 0.12549 0.0666667 0.0156863);
  --palette-orange-050: color(srgb 0.996078 0.980392 0.964706);
  --palette-secondary-100: color(srgb 0.94902 0.988235 0.909804);
  --palette-secondary-200: color(srgb 0.74902 0.94902 0.54902);
  --palette-secondary-300: color(srgb 0.65098 0.929412 0.368627);
  --palette-secondary-400: color(srgb 0.54902 0.909804 0.188235);
  --palette-secondary-500: color(srgb 0.45098 0.811765 0.0901961);
  --palette-secondary-600: color(srgb 0.34902 0.631373 0.0705882);
  --palette-secondary-700: color(srgb 0.2 0.360784 0.0392157);
  --palette-secondary-800: color(srgb 0.121569 0.215686 0.0235294);
  --palette-secondary-900: color(srgb 0.101961 0.180392 0.0196078);
  --palette-secondary-950: color(srgb 0.0705882 0.12549 0.0156863);
  --palette-secondary-050: color(srgb 0.980392 0.996078 0.964706);
  --palette-yellow-100: color(srgb 0.988235 0.980392 0.909804);
  --palette-yellow-200: color(srgb 0.94902 0.898039 0.54902);
  --palette-yellow-300: color(srgb 0.929412 0.854902 0.368627);
  --palette-yellow-400: color(srgb 0.909804 0.815686 0.188235);
  --palette-yellow-500: color(srgb 0.811765 0.713725 0.0901961);
  --palette-yellow-600: color(srgb 0.631373 0.556863 0.0705882);
  --palette-yellow-700: color(srgb 0.360784 0.317647 0.0392157);
  --palette-yellow-800: color(srgb 0.215686 0.192157 0.0235294);
  --palette-yellow-900: color(srgb 0.180392 0.156863 0.0196078);
  --palette-yellow-950: color(srgb 0.12549 0.109804 0.0156863);
  --palette-yellow-050: color(srgb 0.996078 0.992157 0.964706);
  --palette-pink-100: color(srgb 0.988235 0.909804 0.94902);
  --palette-pink-200: color(srgb 0.94902 0.54902 0.74902);
  --palette-pink-300: color(srgb 0.929412 0.368627 0.65098);
  --palette-pink-400: color(srgb 0.909804 0.188235 0.54902);
  --palette-pink-500: color(srgb 0.811765 0.0901961 0.45098);
  --palette-pink-600: color(srgb 0.631373 0.0705882 0.34902);
  --palette-pink-700: color(srgb 0.360784 0.0392157 0.2);
  --palette-pink-800: color(srgb 0.215686 0.0235294 0.121569);
  --palette-pink-900: color(srgb 0.180392 0.0196078 0.101961);
  --palette-pink-950: color(srgb 0.12549 0.0156863 0.0705882);
  --palette-pink-050: color(srgb 0.996078 0.964706 0.980392);
  --palette-primary-100: color(srgb 0.909804 0.988235 0.909804);
  --palette-primary-200: color(srgb 0.54902 0.94902 0.54902);
  --palette-primary-300: color(srgb 0.368627 0.929412 0.368627);
  --palette-primary-400: color(srgb 0.188235 0.909804 0.188235);
  --palette-primary-500: color(srgb 0.0901961 0.811765 0.0901961);
  --palette-primary-600: color(srgb 0.0705882 0.631373 0.0705882);
  --palette-primary-700: color(srgb 0.0392157 0.360784 0.0392157);
  --palette-primary-800: color(srgb 0.0235294 0.215686 0.0235294);
  --palette-primary-900: color(srgb 0.0196078 0.180392 0.0196078);
  --palette-primary-950: color(srgb 0.0156863 0.12549 0.0156863);
  --palette-primary-050: color(srgb 0.964706 0.996078 0.964706);
  --palette-green-100: color(srgb 0.909804 0.988235 0.92549);
  --palette-green-200: color(srgb 0.54902 0.94902 0.623529);
  --palette-green-300: color(srgb 0.368627 0.929412 0.47451);
  --palette-green-400: color(srgb 0.188235 0.909804 0.321569);
  --palette-green-500: color(srgb 0.0901961 0.811765 0.223529);
  --palette-green-600: color(srgb 0.0705882 0.631373 0.172549);
  --palette-green-700: color(srgb 0.0392157 0.360784 0.0980392);
  --palette-green-800: color(srgb 0.0235294 0.215686 0.0588235);
  --palette-green-900: color(srgb 0.0196078 0.180392 0.0509804);
  --palette-green-950: color(srgb 0.0156863 0.12549 0.0352941);
  --palette-green-050: color(srgb 0.964706 0.996078 0.968627);
  --palette-red-100: color(srgb 0.988235 0.909804 0.913725);
  --palette-red-200: color(srgb 0.94902 0.54902 0.568627);
  --palette-red-300: color(srgb 0.929412 0.368627 0.396078);
  --palette-red-400: color(srgb 0.909804 0.188235 0.227451);
  --palette-red-500: color(srgb 0.811765 0.0901961 0.12549);
  --palette-red-600: color(srgb 0.631373 0.0705882 0.0980392);
  --palette-red-700: color(srgb 0.360784 0.0392157 0.054902);
  --palette-red-800: color(srgb 0.215686 0.0235294 0.0352941);
  --palette-red-900: color(srgb 0.180392 0.0196078 0.027451);
  --palette-red-950: color(srgb 0.12549 0.0156863 0.0196078);
  --palette-red-050: color(srgb 0.996078 0.964706 0.964706);
  --palette-default-100: color(srgb 0.94902 0.952941 0.94902);
  --palette-default-200: color(srgb 0.737255 0.760784 0.745098);
  --palette-default-300: color(srgb 0.631373 0.666667 0.643137);
  --palette-default-400: color(srgb 0.529412 0.572549 0.541176);
  --palette-default-500: color(srgb 0.427451 0.470588 0.443137);
  --palette-default-600: color(srgb 0.333333 0.368627 0.345098);
  --palette-default-700: color(srgb 0.188235 0.211765 0.196078);
  --palette-default-800: color(srgb 0.113725 0.12549 0.117647);
  --palette-default-900: color(srgb 0.0941176 0.105882 0.0980392);
  --palette-default-950: color(srgb 0.0666667 0.0745098 0.0705882);
  --palette-default-050: color(srgb 0.980392 0.980392 0.980392);
  --lightness-100: 95;
  --lightness-150: 92;
  --lightness-200: 75;
  --lightness-300: 65;
  --lightness-400: 55;
  --lightness-500: 45;
  --lightness-600: 35;
  --lightness-700: 20;
  --lightness-800: 12;
  --lightness-900: 10;
  --lightness-950: 7;
  --lightness-050: 98;
  --hue-blue: 203;
  --hue-purple: 262;
  --hue-orange: 29;
  --hue-secondary: 190;
  --hue-yellow: 52;
  --hue-pink: 330;
  --hue-primary: 210;
  --hue-green: 131;
  --hue-red: 357;
  --hue-default: 210;
  --color-border-default: color(srgb 0.737255 0.760784 0.745098);
  --color-border-accent: color(srgb 0.54902 0.94902 0.54902);
  --color-form-text-default: color(srgb 0.113725 0.12549 0.117647);
  --color-form-text-placeholder: color(srgb 0.333333 0.368627 0.345098);
  --color-background-alt: color(srgb 0.909804 0.988235 0.909804);
  --color-background-body: color(srgb 0.94902 0.952941 0.94902);
  --color-background-default: color(srgb 0.980392 0.980392 0.980392);
  --color-background-highlight: color(srgb 0.929412 0.854902 0.368627);
  --color-background-selection: color(srgb 0.94902 0.952941 0.94902);
  --color-background-accent: color(srgb 0.54902 0.94902 0.54902);
  --color-text-muted: color(srgb 0.333333 0.368627 0.345098);
  --color-text-main: color(srgb 0.188235 0.211765 0.196078);
  --color-text-bright: color(srgb 0.0941176 0.105882 0.0980392);
  --color-text-code: color(srgb 0.0941176 0.105882 0.0980392);
  --color-text-focus: color(srgb 0.34902 0.631373 0.0705882);
  --color-text-link: color(srgb 0.0705882 0.631373 0.0705882);
  --color-text-variable: color(srgb 0.34902 0.631373 0.0705882);
  --color-icon-default: color(srgb 0.427451 0.470588 0.443137);
  --color-icon-accent: color(srgb 0.0901961 0.811765 0.0901961);
  --color-scrollbar-thumb-default: color(srgb 0.188235 0.909804 0.188235);
  --color-scrollbar-thumb-hover: color(srgb 0.188235 0.909804 0.188235);
  --color-button-primary-icon: color(srgb 0.368627 0.929412 0.368627);
  --color-button-primary-background-default: color(srgb 0.0705882 0.631373 0.0705882);
  --color-button-primary-background-hover: color(srgb 0.0705882 0.631373 0.0705882);
  --color-button-primary-border: color(srgb 0 0 0 / 0);
  --color-button-primary-text: color(srgb 0.964706 0.996078 0.964706);
  --color-button-secondary-text: color(srgb 0.0705882 0.631373 0.0705882);
  --color-button-secondary-icon: color(srgb 0.0392157 0.360784 0.0392157);
  --color-button-secondary-background-hover: color(srgb 0.909804 0.988235 0.909804);
  --color-button-secondary-background-default: color(srgb 0.94902 0.952941 0.94902);
  --color-button-secondary-border: color(srgb 0.0705882 0.631373 0.0705882);
  --font-size-xs: 13;
  --font-size-md: 20;
  --font-size-3xl: 49;
  --font-size-3xs: 8;
  --font-size-2xl: 39;
  --font-size-lg: 25;
  --font-size-xl: 31;
  --font-size-sm: 16;
  --font-size-2xs: 10;
  --typography-heading-level-4-font-family: "Figtree";
  --typography-heading-level-4-font-size: 32px;
  --typography-heading-level-4-font-weight: 500;
  --typography-heading-level-4-letter-spacing: 0px;
  --typography-heading-level-4-line-height: 1.1;
  --typography-heading-level-2-font-family: "Figtree";
  --typography-heading-level-2-font-size: 50px;
  --typography-heading-level-2-font-weight: 600;
  --typography-heading-level-2-letter-spacing: 0px;
  --typography-heading-level-2-line-height: 1.1;
  --typography-heading-level-6-font-family: "Figtree";
  --typography-heading-level-6-font-size: 32px;
  --typography-heading-level-6-font-weight: 500;
  --typography-heading-level-6-letter-spacing: 0px;
  --typography-heading-level-6-line-height: 1.1;
  --typography-heading-level-5-font-family: "Figtree";
  --typography-heading-level-5-font-size: 32px;
  --typography-heading-level-5-font-weight: 500;
  --typography-heading-level-5-letter-spacing: 0px;
  --typography-heading-level-5-line-height: 1.1;
  --typography-heading-level-1-font-family: "Figtree";
  --typography-heading-level-1-font-size: 63px;
  --typography-heading-level-1-font-weight: 600;
  --typography-heading-level-1-letter-spacing: 0px;
  --typography-heading-level-1-line-height: 1.1;
  --typography-heading-level-3-font-family: "Figtree";
  --typography-heading-level-3-font-size: 40px;
  --typography-heading-level-3-font-weight: 500;
  --typography-heading-level-3-letter-spacing: 0px;
  --typography-heading-level-3-line-height: 1.1;
  --typography-placeholder-font-family: "Figtree";
  --typography-placeholder-font-size: 26px;
  --typography-placeholder-font-weight: 400;
  --typography-placeholder-letter-spacing: 0px;
  --typography-placeholder-line-height: 1;
  --typography-label-font-family: "Figtree";
  --typography-label-font-size: 32px;
  --typography-label-font-weight: 400;
  --typography-label-letter-spacing: 0px;
  --typography-label-line-height: 1;
  --typography-link-font-family: "Figtree";
  --typography-link-font-size: 32px;
  --typography-link-font-weight: 400;
  --typography-link-letter-spacing: 0px;
  --typography-link-line-height: 1.2;
  --typography-meta-font-family: "Figtree";
  --typography-meta-font-size: 26px;
  --typography-meta-font-weight: 400;
  --typography-meta-letter-spacing: 0px;
  --typography-meta-line-height: 1.2;
  --typography-emphasis-font-family: "Figtree";
  --typography-emphasis-font-size: 32px;
  --typography-emphasis-font-weight: 400;
  --typography-emphasis-letter-spacing: 0px;
  --typography-emphasis-line-height: 1.2;
  --typography-display-title-font-family: "Figtree";
  --typography-display-title-font-size: 98px;
  --typography-display-title-font-weight: 600;
  --typography-display-title-letter-spacing: 0px;
  --typography-display-title-line-height: 1.1;
  --typography-display-subtitle-font-family: "Figtree";
  --typography-display-subtitle-font-size: 78px;
  --typography-display-subtitle-font-weight: 600;
  --typography-display-subtitle-letter-spacing: 0px;
  --typography-display-subtitle-line-height: 1.1;
  --typography-quote-font-family: "Figtree";
  --typography-quote-font-size: 32px;
  --typography-quote-font-weight: 400;
  --typography-quote-letter-spacing: 0px;
  --typography-quote-line-height: 1.2;
  --typography-strong-font-family: "Figtree";
  --typography-strong-font-size: 32px;
  --typography-strong-font-weight: 600;
  --typography-strong-letter-spacing: 0px;
  --typography-strong-line-height: 1.2;
  --typography-default-font-family: "Figtree";
  --typography-default-font-size: 32px;
  --typography-default-font-weight: 400;
  --typography-default-letter-spacing: 0px;
  --typography-default-line-height: 1.3;
  --typography-code-font-family: "Oxygen Mono";
  --typography-code-font-size: 32px;
  --typography-code-font-weight: 400;
  --typography-code-letter-spacing: 0px;
  --typography-code-line-height: 1;
  --typography-button-font-family: "Figtree";
  --typography-button-font-size: 32px;
  --typography-button-font-weight: 600;
  --typography-button-letter-spacing: 0px;
  --typography-button-line-height: 1.2;
  --font-family-alt: "Figtree";
  --font-family-default: "Figtree";
  --font-family-code: "Oxygen Mono";
  --breakpoint: 1200px;
  --zoom: 1;
}

@media (max-width: 360px) {
  :root {
    --scale-xs: 15;
    --scale-md: 18;
    --scale-3xl: 26;
    --scale-3xs: 12;
    --scale-2xl: 23;
    --scale-lg: 19;
    --scale-xl: 21;
    --scale-2xs: 13;
    --multiplier: 1.1;
    --spacing-xs: 15;
    --spacing-md: 18;
    --spacing-3xl: 26;
    --spacing-3xs: 12;
    --spacing-2xl: 23;
    --spacing-lg: 19;
    --spacing-xl: 21;
    --spacing-2xs: 13;
    --radius-xs: 15;
    --radius-md: 18;
    --radius-3xl: 26;
    --radius-3xs: 12;
    --radius-2xl: 23;
    --radius-lg: 19;
    --radius-xl: 21;
    --radius-2xs: 13;
    --size-xs: 15;
    --size-md: 18;
    --size-3xl: 26;
    --size-3xs: 12;
    --size-2xl: 23;
    --size-lg: 19;
    --size-xl: 21;
    --size-2xs: 13;
    --font-size-xs: 15;
    --font-size-md: 18;
    --font-size-3xl: 26;
    --font-size-3xs: 12;
    --font-size-2xl: 23;
    --font-size-lg: 19;
    --font-size-xl: 21;
    --font-size-2xs: 13;
    --breakpoint: 360px;
  }
}
